  .index-content {
    position: absolute;
    width: 100vw;
    height: 300px;
    background-color: white;
    top: 60%;
    text-align: center;
  }

  .styled-header {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.styled-image {
    border-radius: 15px;
    width: 300px;
    height: 300px;
    object-fit: cover; /* Ensures the image covers the area without distorting aspect ratio */
}

.cover-image {
    width: 100vw;       /* Sets the width to cover the viewport width */
    height: 300px;      /* Fixed height */
    object-fit: cover;  /* Ensures the image covers the area without distorting aspect ratio */
    object-position: center;
}